.main-presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    margin-top: 400px;
    border-radius: 0% 100% 0% 100% / 100% 16% 84% 0%  ;
}

.presentation-container {
    width: 120vh;
    height: 50vh;
    margin: auto;
    font-family: 'Fira Code';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

#sobre-mim-text {
    text-align: center;
    color: #fff;
    font-size: 30px
}

#lucas-photo {
    width: 40vh;
    border-radius: 50%;
    border: 2px solid #ffa600;
}

.lucas-text {
    font-size: 20px;
    color: #fff;
    width: 60vh;
    padding-left: 50px
}

#final-text {
    color: #ffa600
}


@media (max-width: 885px) {

    .lucas-text {
        font-size: 15px;
        text-align: center;
        color: #fff;
        width: 40vh;
        padding: 0;
    }

    .presentation-right {
        width: 40vh;
        height: 40vh;
    }
}

@media (max-width: 500px) {

    .lucas-text {
        width: 30vh;
    }

    .presentation-right {
        width: 25vh;
        height: 40vh;
    }
}
